In [366]:
from sklearn.preprocessing import StandardScaler
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
df1=pd.read_csv('Report20200501-20201030.csv',encoding='ISO-8859-1')
df1

MemoryError: Unable to allocate 177. MiB for an array with shape (23262456,) and data type object

In [ ]:
ds = df1.groupby(['Service Area','Service Area Local','Level','Level Local','Function','Function Local'])['User ID (v14) (evar14)']

ds2 = df1.groupby(['Service Area','Service Area Local','Level','Level Local','Function','Function Local'])['Header Item Clicked (v56) (evar56)']
ds4 = df1.groupby([ 'Tenure (yrs)','Service Area','Service Area Local','Level','Level Local','Function','Function Local'])['Header Area Clicked (v55) (evar55)']

#ds7 = df1.groupby(['ï»¿"Week"',  'Tenure (yrs)','Service Area','Service Area Local','Level','Level Local','Function','Function Local'])['Search Type (v25) (evar25)']
ds5 = df1.groupby([ 'Service Area','Service Area Local','Level','Level Local','Function','Function Local'])['Search Result Clicked Type (v58) (evar58)']
ds6 = df1.groupby(['Service Area','Service Area Local','Level','Level Local','Function','Function Local'])['Search Result Clicked Subtype (v59) (evar59)']
ds3 = df1.groupby([ 'Service Area','Service Area Local','Level','Level Local','Function','Function Local'])['Search Result Clicked Detail (v60) (evar60)']
ds9 = df1.groupby([ 'Service Area','Service Area Local','Level','Level Local','Function','Function Local'])['Search Result Clicked Title (v23) (evar23)']
#ds8 = df1.groupby(['ï»¿"Week"',  'Tenure (yrs)','Service Area','Service Area Local','Level','Level Local','Function','Function Local'])['Search Terms (v26) (evar26)']

ds9.count().reset_index().count()

In [ ]:
Output1=[]
Output2=[]
Output3=[]
Output4=[]
Output5=[]
Output6=[]
#Output7=[]
#Output8=[]
Output9=[]

for i,j in ds:
    Output1.append(list( dict.fromkeys(j.values)))

for i,j in ds2:
    Output2.append(j.values)

for i,j in ds3:
    Output3.append(j.values)

for i,j in ds4:
    Output4.append(j.values)

for i,j in ds5:
    Output5.append(j.values)

for i,j in ds6:
    Output6.append(j.values)

#for i,j in ds7:
 #   Output7.append(j.values)

#for i,j in ds8:
 #   Output8.append(j.values)

for i,j in ds9:
    Output9.append(j.values)

In [259]:
dr=Output1

In [339]:
name='rperla'

In [340]:
indexes=[]
for a in Output1:
    if name in a:
        indexes.append(a)
    
#indexes

In [341]:
def countList(lst): 
    return sum(isinstance(i, list) for i in lst)

In [342]:
#print('Users',Output1[Output1.index(indexes[0])],'lenth: ',len(Output1[Output1.index(indexes[0])]))
pd.DataFrame(Output1[Output1.index(indexes[0])])

                    0
0            abbarnes
1           adbhushan
2             adbirch
3        aizraylevich
4           aliceshih
..                ...
353        brmcmaster
354    dtirupathigari
355    sabkarunakaran
356        vmudigonda
357  vseshanviswanath

[358 rows x 1 columns]

In [343]:
#print('Header area Clicked ',Output2[Output1.index(indexes[0])],'Lenth: ',len(Output2[Output1.index(indexes[0])]))
pd.DataFrame(Output2[Output1.index(indexes[0])])

                                                      0
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
2711                                                NaN
2712                                                NaN
2713                                                NaN
2714  Top Links > Top Links > Deloitte Time & Expens...
2715                                                NaN

[2716 rows x 1 columns]

In [344]:
#print('Search Result Clicked',Output3[Output1.index(indexes[0])],'Lenth: ',len(Output3[Output1.index(indexes[0])]))
pd.DataFrame(Output3[Output1.index(indexes[0])])

                 0
0              NaN
1     Result title
2              NaN
3     Result title
4              NaN
...            ...
2711  Result title
2712           NaN
2713           NaN
2714           NaN
2715           NaN

[2716 rows x 1 columns]

In [345]:
#print('Header area Clicked ',Output4[Output1.index(indexes[0])],'Lenth: ',len(Output4[Output1.index(indexes[0])]))
pd.DataFrame(Output4[Output1.index(indexes[0])])

               0
0            NaN
1   App Launcher
2            NaN
3            NaN
4            NaN
..           ...
62           NaN
63           NaN
64           NaN
65           NaN
66  Top Nav Menu

[67 rows x 1 columns]

In [346]:
#print('search result clicked Type',Output5[Output1.index(indexes[0])],'Lenth: ',len(Output5[Output1.index(indexes[0])]))
pd.DataFrame(Output5[Output1.index(indexes[0])])

                        0
0                     NaN
1     Instant Find Result
2                     NaN
3     Instant Find Result
4                     NaN
...                   ...
2711  Instant Find Result
2712                  NaN
2713                  NaN
2714                  NaN
2715                  NaN

[2716 rows x 1 columns]

In [347]:
#print('search result clicked SubType',Output6[Output1.index(indexes[0])],'Lenth: ',len(Output6[Output1.index(indexes[0])]))
pd.DataFrame(Output6[Output1.index(indexes[0])])

          0
0       NaN
1     Pages
2       NaN
3     Pages
4       NaN
...     ...
2711  Pages
2712    NaN
2713    NaN
2714    NaN
2715    NaN

[2716 rows x 1 columns]

In [348]:
#print('Search Type',Output7[Output1.index(indexes[0])],'Lenth: ',len(Output7[Output1.index(indexes[0])]))
#pd.DataFrame(Output7[Output1.index(indexes[0])])

In [349]:
#print('Search Term',Output8[Output1.index(indexes[0])],'Lenth: ',len(Output8[Output1.index(indexes[0])]))
#pd.DataFrame(Output8[Output1.index(indexes[0])])

In [350]:
#print('Search result Clicked Title',Output9[Output1.index(indexes[0])],'Lenth: ',len(Output9[Output1.index(indexes[0])]))
pd.DataFrame(Output9[Output1.index(indexes[0])])

                                              0
0                                           NaN
1               Contingent Workforce Management
2                                           NaN
3                         TOD: Talent On Demand
4                                           NaN
...                                         ...
2711  iRPM - Reinventing Performance Management
2712                                        NaN
2713                                        NaN
2714                                        NaN
2715                                        NaN

[2716 rows x 1 columns]

In [351]:
#o1=df1.groupby(['ï»¿"User ID (v14) (evar14)"'])['Header Item Clicked (v56) (evar56)'].count().reset_index()

In [352]:
#o3=df1.groupby(['ï»¿"User ID (v14) (evar14)"'])['Search Result Clicked Title (v23) (evar23)'].count().reset_index()

In [353]:
#o1

In [354]:
#o2

In [355]:
Output2[Output1.index(indexes[0])]

array([nan, nan, nan, ..., nan,
       'Top Links > Top Links > Deloitte Time & Expense (DTE)', nan],
      dtype=object)

In [356]:
ve=pd.DataFrame(Output2[Output1.index(indexes[0])],columns= ['Color'])

In [357]:
ve2=pd.DataFrame(Output9[Output1.index(indexes[0])],columns= ['Color'])

In [358]:
vee=pd.concat([ve ,ve2])

In [359]:
dups_color = vee.pivot_table(index=['Color'], aggfunc='size').sort_values(ascending=False)

In [360]:
dups_color

Color
DTE: Deloitte Time & Expense                    151
TOD: Talent On Demand                            77
Tools                                            66
Talent On Demand                                 64
My Technology                                    59
                                               ...
Gaurav Gaurav                                     1
GPS Onboarding Programs                           1
Security Knowledge Information Portal (SKIP)      1
GPS Compliance Scorecard                          1
Learning Solutions                                1
Length: 321, dtype: int64

In [361]:
#name='pdaniel'
L=df1.loc[df1['User ID (v14) (evar14)'] == name]
L1=pd.DataFrame(L[['Header Item Clicked (v56) (evar56)']],columns= ['Header Item Clicked (v56) (evar56)'])
L2=pd.DataFrame(L[['Search Result Clicked Title (v23) (evar23)']],columns= ['Search Result Clicked Title (v23) (evar23)'])

Li1=L1.rename(columns={"Header Item Clicked (v56) (evar56)": "Color"})
Li2=L2.rename(columns={"Search Result Clicked Title (v23) (evar23)": "Color"})

vee=pd.concat([Li1 ,Li2])
dups_color2 = vee.pivot_table(index=['Color'], aggfunc='size').sort_values(ascending=False)

In [362]:
dups_color2

Color
Work                                                      3
Tools                                                     3
Rosslyn                                                   3
Africa                                                    2
Deloitte Connect                                          2
Deloitte University                                       2
Global                                                    1
Brazil                                                    1
Caribbean & Bermuda                                       1
DeloitteNet                                               1
Nossa firma > Nossa firma > 175 anos de Deloitte          1
My Compliance > Ethics & Compliance > Can I mobile app    1
Trips                                                     1
Nossa firma > Nossa firma > Cultura CRER                  1
Rate this App                                             1
Ravi Ravi                                                 1
Self-Service Communications Site                          1
ServiceNow Digital Self Service                           1
Admin                                                     1
dtype: int64

In [363]:
d1=pd.DataFrame(dups_color,columns= ['Count'])
d2=pd.DataFrame(dups_color2,columns= ['Count'])

In [364]:
d1.head(10)

                                                    Count
Color
DTE: Deloitte Time & Expense                          151
TOD: Talent On Demand                                  77
Tools                                                  66
Talent On Demand                                       64
My Technology                                          59
DeloitteNet                                            45
iRPM - Reinventing Performance Management              36
Work                                                   35
Top Links > Top Links > Deloitte Time & Expense...     32
USI PDA                                                32