In [17]:
from sklearn.preprocessing import StandardScaler
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
df = pd.read_csv('Report20200501-20201030.csv', nrows=5000000,encoding='ISO-8859-1',parse_dates=['ï»¿"Date"'])

In [19]:
df['ï»¿"Date"']=df['ï»¿"Date"'].dt.day_name()

In [20]:
df.describe().transpose()

,count,unique,top,freq
"ï»¿""Date""",5000000,7,Tuesday,1008420
User ID (v14) (evar14),5000000,211335,cmilcinovic,740
Service Line,4980854,108,Data Field Blank,3041907
Service Line Local,4980854,874,Data Field Blank,1961714
Service Area,4980854,60,Data Field Blank,833413
Service Area Local,4980854,502,Data Field Blank,825532
Member Firm,4980854,37,United States,3225007
Level Local,4980854,128,Senior,992505
Level,4980854,11,Senior,1250639
Function Local,4980854,47,Consulting,1528917
Function,4980854,11,Consulting,1708500
Deloitte Network Intranet (v51) (evar51),5000000,43,United States,3218492
Header Area Clicked (v55) (evar55),840665,6,App Launcher,441123
Header Item Clicked (v56) (evar56),840665,3487,SWIFT,109684
Search Result Clicked Subtype (v59) (evar59),1420754,5,Apps,797634
Search Result Clicked Title (v23) (evar23),1468477,65948,DTE: Deloitte Time & Expense,237250

In [21]:
name='rperla'
dfd=df.loc[df['User ID (v14) (evar14)'] == name]
dfd

,"ï»¿""Date""",User ID (v14) (evar14),Service Line,Service Line Local,Service Area,Service Area Local,Member Firm,Level Local,Level,Function Local,Function,Deloitte Network Intranet (v51) (evar51),Header Area Clicked (v55) (evar55),Header Item Clicked (v56) (evar56),Search Result Clicked Subtype (v59) (evar59),Search Result Clicked Title (v23) (evar23)
328620,Monday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
499117,Tuesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
499118,Tuesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,Top Nav Menu,Work,NaN,NaN
659432,Wednesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United Kingdom,NaN,NaN,NaN,NaN
659433,Wednesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United Kingdom,Sidebar Menu,"Time, travel & finance > Pages > Travel",NaN,NaN
659434,Wednesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
819988,Thursday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
960755,Friday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
1197664,Monday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
1370711,Tuesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
1370712,Tuesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,Offices,Chicago
1536304,Wednesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,Africa,NaN,NaN,NaN,NaN
1536305,Wednesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,Africa,Sidebar Menu,Deloitte West Africa > People > Talent Policie...,NaN,NaN
1536306,Wednesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,Africa,Top Nav Menu,DeloitteNet,NaN,NaN
1536307,Wednesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,Africa,Top Nav Menu,News,NaN,NaN
1536308,Wednesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
1536309,Wednesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,Sidebar Member Firm,Africa,NaN,NaN
1536310,Wednesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,Sidebar Member Firm,Baltics,NaN,NaN
1536311,Wednesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,Sidebar Menu,Client & Market Growth > Top Links > CIO Program,NaN,NaN
2115092,Monday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
2115093,Monday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,App Launcher,Outlook,NaN,NaN
2283861,Tuesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
2445074,Wednesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
2731426,Friday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,Help,NaN,NaN,NaN,NaN
2731427,Friday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
3020629,Tuesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
3020630,Tuesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,Top Nav Menu,Admin,NaN,NaN
3195795,Wednesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,Caribbean & Bermuda,NaN,NaN,NaN,NaN
3195796,Wednesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
3195797,Wednesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,Top Nav Menu,DeloitteNet,NaN,NaN
3195798,Wednesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,Top Nav Menu,Work,NaN,NaN
3375153,Thursday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
3562377,Friday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
3629510,Saturday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
3664340,Sunday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
3814358,Monday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
3814359,Monday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,Top Nav Menu,Tools,NaN,NaN
3814360,Monday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,Top Nav Menu,Work,NaN,NaN
3978469,Tuesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United Kingdom,NaN,NaN,NaN,NaN
3978470,Tuesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United Kingdom,Sidebar Menu,Clients > Going to market > Offerings by clien...,NaN,NaN
3978471,Tuesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
3978472,Tuesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,Sidebar Member Firm,United Kingdom,NaN,NaN
4466610,Friday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
4555167,Sunday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN
4705221,Monday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,Top Nav Menu,Admin,NaN,NaN
4876947,Tuesday,rperla,Data Field Blank,"DAS Unity, Collab and ARM",Information Technology,DAS,United States,Manager,Manager,Technology (IS),Internal Services,United States,NaN,NaN,NaN,NaN

In [22]:
Group=df.groupby(['ï»¿"Date"','Service Line Local','Service Area Local','Function Local','Member Firm','Level Local','Deloitte Network Intranet (v51) (evar51)'])
group2=Group['User ID (v14) (evar14)'] 
group3=Group['Header Area Clicked (v55) (evar55)']
group4=Group['Header Item Clicked (v56) (evar56)']
group5=Group['Search Result Clicked Subtype (v59) (evar59)']
group6=Group['Search Result Clicked Title (v23) (evar23)']

In [23]:
group2.describe()

                                                                                                                                                                                         count  \
ï»¿"Date" Service Line Local          Service Area Local              Function Local       Member Firm            Level Local                   Deloitte Network Intranet (v51) (evar51)
Friday    ACF M&A                     Corporate Finance Advisory      Financial Advisory   North West Europe      Assistant Director            United Kingdom                               1
                                                                                                                  Executive                     United Kingdom                               6
                                                                                           North and South Europe Assistant Director            NWE-Shared                                   1
                                                                                                                                                United Kingdom                             257
                                                                                                                  Assistant Manager             United Kingdom                              11
...                                                                                                                                                                                        ...
Wednesday Workforce Transformation    Human Capital                   Consulting           United States          USDC Senior/Senior Consultant United States                               28
                                                                                                                  USDC Sr. Manager              United States                                3
                                                                                                                  USDC Staff/Consultant         United States                               56
          Workplace Experience Leader Workplace Experience Leadership Workplace Experience United States          Managing Director             United States                               19
                                                                                                                  Senior Manager                United States                                6

                                                                                                                                                                                         unique  \
ï»¿"Date" Service Line Local          Service Area Local              Function Local       Member Firm            Level Local                   Deloitte Network Intranet (v51) (evar51)
Friday    ACF M&A                     Corporate Finance Advisory      Financial Advisory   North West Europe      Assistant Director            United Kingdom                                1
                                                                                                                  Executive                     United Kingdom                                1
                                                                                           North and South Europe Assistant Director            NWE-Shared                                    1
                                                                                                                                                United Kingdom                               37
                                                                                                                  Assistant Manager             United Kingdom                                1
...                                                                                                                                                                                         ...
Wednesday Workforce Transformation    Human Capital                   Consulting           United States          USDC Senior/Senior Consultant United States                                 5
                                                                                                                  USDC Sr. Manager              United States                                 1
                                                                                                                  USDC Staff/Consultant         United States                                 9
          Workplace Experience Leader Workplace Experience Leadership Workplace Experience United States          Managing Director             United States                                 4
                                                                                                                  Senior Manager                United States                                 1

                                                                                                                                                                                                        top  \
ï»¿"Date" Service Line Local          Service Area Local              Function Local       Member Firm            Level Local                   Deloitte Network Intranet (v51) (evar51)
Friday    ACF M&A                     Corporate Finance Advisory      Financial Advisory   North West Europe      Assistant Director            United Kingdom                                 nmaduvinkody
                                                                                                                  Executive                     United Kingdom                            emiliaszabadosova
                                                                                           North and South Europe Assistant Director            NWE-Shared                                          gregcox
                                                                                                                                                United Kingdom                                     jwanless
                                                                                                                  Assistant Manager             United Kingdom                                       haguda
...                                                                                                                                                                                                     ...
Wednesday Workforce Transformation    Human Capital                   Consulting           United States          USDC Senior/Senior Consultant United States                                   dthomasjohn
                                                                                                                  USDC Sr. Manager              United States                                       ssurges
                                                                                                                  USDC Staff/Consultant         United States                                       shareid
          Workplace Experience Leader Workplace Experience Leadership Workplace Experience United States          Managing Director             United States                                  acooperdavis
                                                                                                                  Senior Manager                United States                                       mfinaly

                                                                                                                                                                                         freq
ï»¿"Date" Service Line Local          Service Area Local              Function Local       Member Firm            Level Local                   Deloitte Network Intranet (v51) (evar51)
Friday    ACF M&A                     Corporate Finance Advisory      Financial Advisory   North West Europe      Assistant Director            United Kingdom                              1
                                                                                                                  Executive                     United Kingdom                              6
                                                                                           North and South Europe Assistant Director            NWE-Shared                                  1
                                                                                                                                                United Kingdom                             18
                                                                                                                  Assistant Manager             United Kingdom                             11
...                                                                                                                                                                                       ...
Wednesday Workforce Transformation    Human Capital                   Consulting           United States          USDC Senior/Senior Consultant United States                               9
                                                                                                                  USDC Sr. Manager              United States                               3
                                                                                                                  USDC Staff/Consultant         United States                              14
          Workplace Experience Leader Workplace Experience Leadership Workplace Experience United States          Managing Director             United States                               6
                                                                                                                  Senior Manager                United States                               6

[62232 rows x 4 columns]

In [24]:
GroupByDay=df.groupby('ï»¿"Date"')
GroupByDay.describe().transpose()

MemoryError: Unable to allocate 572. MiB for an array with shape (15, 5000000) and data type object

In [ ]:
Output1=[]
Output2=[]
Output3=[]

for i,j in group2:
    Output1.append(list( dict.fromkeys(j.values)))
    
for i,j in group4:
    Output2.append(j.values)
    
for i,j in group6:
    Output3.append(j.values)

In [ ]:
indexes=[]
for a in Output1:
    if name in a:
        indexes.append(a)
    
#indexes

In [ ]:
pds=[]
for i in range(len(indexes)):
    pds.append(pd.DataFrame(Output1[Output1.index(indexes[i])]))

In [ ]:
vee = pd.concat(pds)

In [ ]:
vout=[]
for i in range(len(indexes)):
    vout.append(pd.DataFrame(Output2[Output1.index(indexes[i])],columns= ['Color']))
    vout.append(pd.DataFrame(Output3[Output1.index(indexes[i])],columns= ['Color']))


veeO=pd.concat(vout)
dups_color = veeO.pivot_table(index=['Color'], aggfunc='size').sort_values(ascending=False)
dups_color

In [ ]:
#name='pdaniel'
L=df.loc[df['User ID (v14) (evar14)'] == name]
L1=pd.DataFrame(L[['Header Item Clicked (v56) (evar56)']],columns= ['Header Item Clicked (v56) (evar56)'])
L2=pd.DataFrame(L[['Search Result Clicked Title (v23) (evar23)']],columns= ['Search Result Clicked Title (v23) (evar23)'])

Li1=L1.rename(columns={"Header Item Clicked (v56) (evar56)": "Color"})
Li2=L2.rename(columns={"Search Result Clicked Title (v23) (evar23)": "Color"})

vee=pd.concat([Li1 ,Li2])
dups_color2 = vee.pivot_table(index=['Color'], aggfunc='size').sort_values(ascending=False)

In [ ]:
dups_color2

In [ ]:
d1=pd.DataFrame(dups_color,columns= ['Count'])
d2=pd.DataFrame(dups_color2,columns= ['Count'])

In [ ]:
pd.concat([d1,d2])