In [17]:
from sklearn.preprocessing import StandardScaler
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
df=pd.read_csv('data/Report20200901-20200930.csv', encoding='ISO-8859-1',parse_dates=['ï»¿"Date"'])
df['ï»¿"Date"']=df['ï»¿"Date"'].dt.day_name()

In [19]:
d1=df.groupby('ï»¿"Date"')

In [20]:
date='2020-09-01'
name='tetam'

In [21]:
idx = pd.date_range(start=date, freq='D', periods=1)
day_of_week=idx.day_name()[0]
day_of_week

'Tuesday'

In [22]:
lstGrps=[]
for gp_name,gp in d1:    
        lstGrps.append(d1.get_group(gp_name))
        
        
p1 = pd.concat(lstGrps)
ppd1=pd.DataFrame(p1)

In [23]:

dfd2=ppd1.loc[ppd1['User ID (v14) (evar14)'] == name]

In [24]:
Group=ppd1.groupby(['Function Local','Level Local','Deloitte Network Intranet (v51) (evar51)'])
group2=Group['User ID (v14) (evar14)'] 
group3=Group['Header Area Clicked (v55) (evar55)']
group4=Group['Header Item Clicked (v56) (evar56)']
group5=Group['Search Result Clicked Subtype (v59) (evar59)']
group6=Group['Search Result Clicked Title (v23) (evar23)']

In [25]:
Output1=[]
Output2=[]
Output3=[]

for i,j in group2:
    Output1.append(list( dict.fromkeys(j.values)))
    
for i,j in group4:
    Output2.append(j.values)
    
for i,j in group6:
    Output3.append(j.values)

In [26]:
indexes=[]
for a in Output1:
    if name in a:
        indexes.append(a)

In [27]:
pds=[]
for i in range(len(indexes)):
    pds.append(pd.DataFrame(Output1[Output1.index(indexes[i])]))

In [28]:
vee = pd.concat(pds)

In [29]:
vout=[]
for i in range(len(indexes)):
    vout.append(pd.DataFrame(Output2[Output1.index(indexes[i])],columns= ['Color']))
    vout.append(pd.DataFrame(Output3[Output1.index(indexes[i])],columns= ['Color']))


veeO=pd.concat(vout)
dups_color = veeO.pivot_table(index=['Color'], aggfunc='size').sort_values(ascending=False)

In [30]:
L=df.loc[df['User ID (v14) (evar14)'] == name]
L1=pd.DataFrame(L[['Header Item Clicked (v56) (evar56)']],columns= ['Header Item Clicked (v56) (evar56)'])
L2=pd.DataFrame(L[['Search Result Clicked Title (v23) (evar23)']],columns= ['Search Result Clicked Title (v23) (evar23)'])

Li1=L1.rename(columns={"Header Item Clicked (v56) (evar56)": "Color"})
Li2=L2.rename(columns={"Search Result Clicked Title (v23) (evar23)": "Color"})

vee=pd.concat([Li1 ,Li2])
dups_color2 = vee.pivot_table(index=['Color'], aggfunc='size').sort_values(ascending=False)

In [31]:
d1=pd.DataFrame(dups_color,columns= ['Count'])
d2=pd.DataFrame(dups_color2,columns= ['Count'])

In [32]:
g1=pd.concat([d1,d2])
g1.sort_values(by='Count',ascending=False).head(20)

                                Count
Color
SWIFT                            1636
Tools                             405
Jupiter                           285
SAP                               260
iRPM                              225
DPN                               178
Engage                            171
TOP                               157
Work                              133
My Compliance Responsibilities    121
Jupiter (license required)        107
Conflict Checker                  106
TOP (Take on Process)              99
DeloitteNet                        96
Margin and pricing tool            84
Service desk                       65
My compliance responsibilities     65
My Feedback                        55
Technical Library                  38
EMS (Workspace Booking System)     37