In [95]:
from sklearn.preprocessing import StandardScaler
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
df1=pd.read_csv('Report_user (3).csv',encoding='ISO-8859-1')

In [96]:
import plotly.express as px
features = ['ï»¿"User ID (v14) (evar14)"', 'Search Result Clicked Title (v23) (evar23)', 'Header Item Clicked (v56) (evar56)']

In [176]:
name='rperla'
dfd=df1.loc[df1['ï»¿"User ID (v14) (evar14)"'] == name]
dd=dfd[features]

In [156]:

fgg1=pd.DataFrame(dfd[['Header Item Clicked (v56) (evar56)']],columns= ['Header Item Clicked (v56) (evar56)'])
fgg2=pd.DataFrame(dfd[['Search Result Clicked Title (v23) (evar23)']],columns= ['Search Result Clicked Title (v23) (evar23)'])

fgh1=fgg1.rename(columns={"Header Item Clicked (v56) (evar56)": "col"})
fgh2=fgg2.rename(columns={"Search Result Clicked Title (v23) (evar23)": "col"})

In [157]:
vee=pd.concat([fgh1 ,fgh2])

In [158]:
vee

         col
1991367  NaN
1991368  NaN
1991369  NaN
1991370  NaN
1991371  NaN
...      ...
1991440  NaN
1991441  NaN
1991442  NaN
1991443  NaN
1991444  NaN

[156 rows x 1 columns]

In [174]:
dups_color2 = vee.pivot_table(index=['col'], aggfunc='size')

In [175]:
dups_color2

col
Admin                                                     1
Africa                                                    1
Brazil                                                    1
Caribbean & Bermuda                                       1
Deloitte Connect                                          2
Deloitte University                                       3
DeloitteNet                                               1
Global                                                    1
My Compliance > Ethics & Compliance > Can I mobile app    1
Nossa firma > Nossa firma > 175 anos de Deloitte          1
Nossa firma > Nossa firma > Cultura CRER                  1
Rate this App                                             1
Ravi Ravi                                                 1
Rosslyn                                                   3
Self-Service Communications Site                          1
ServiceNow Digital Self Service                           1
Tools                                                     1
Trips                                                     1
Work                                                      1
dtype: int64